@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
	background: lightslategray;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 20px;
}

h1{
	color: white;
	margin-bottom: 40px;
}

#wrapper{
	display: block;
	margin-bottom: 100px;
}

div{
	width: auto;
	height: 50px;
}



.button{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	padding: 10px;
}





/* BUTTON DRIE */

a.button.three:before, a.button.three:after{
	content: '';
	position: absolute;	
	width: 0;
	height: 0;
	opacity: 0;
}

a.button.three:before{
	top: 0;
	left: 0;
	border-top: 2px solid white;
	border-right: 2px solid white;
}
a.button.three:after{
	bottom: 0;
	right: 0;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
}
a.button.three:hover:before{
	animation: first 0.3s forwards;
	opacity: 1;
}
a.button.three:hover:after{
	animation: second 0.3s forwards;
}
@keyframes first{
	0%{
		width: 0%;
		height: 0%;
	}
	25%{
		width: 100%;
		height: 0%;
	}
	50%{
		width: 100%;
		height: 100%;
	}
	100%{
		width: 100%;
		height: 95%;
	}
}

@keyframes second{
	0%{
		width: 0%;
		height: 0%;
	}
	50%{
		width: 0%;
		height: 0%;
	}	
	75%{
		width: 100%;
		height: 0%;
		opacity: 1;
	}
	100%{
		width: 100%;
		height: 95%;
		opacity: 1;
	}
}


/* madeby and css */
#madeby{
	color: #666;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#madeby:after{
	content: '';
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	padding-bottom: 5px;
	border-bottom: 1.5px solid #777;
	transition: color 0.3s ease;
	transition: 0.3s width ease;
}
#madeby:hover:after{
	left: 0;
	width: 100%;
	transition: 0.3s width ease;
}
#madeby:hover{
	color: #777;
	transition: color 0.3s ease;
}


/* css credit */
#cssby{
	color: #666;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	left: 20px;
}

#cssby:after{
	content: '';
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	padding-bottom: 5px;
	border-bottom: 1.5px solid #777;
	transition: color 0.3s ease;
	transition: 0.3s width ease;
}
#cssby:hover:after{
	left: 0;
	width: 100%;
	transition: 0.3s width ease;
}
#cssby:hover{
	color: #777;
	transition: color 0.3s ease;
}