@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
	background: lightslategray;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 20px;
}

h1{
	color: white;
	margin-bottom: 40px;
}

#wrapper{
	display: block;
	margin-bottom: 100px;
}

div{
	width: auto;
	height: 50px;
}



.button{
	text-decoration: none;
	border: 1px solid whitesmoke;
	border-radius: 00.5rem;
	color: white;
	background-color: darkslategray;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	padding: 10px;
}






/* madeby  */
#madeby{
	color: #666;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
}



