@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    font-family: 'Open Sans';
}
body{
    background-color: lightslategray;
    width: 100%;
}

.container{
    margin: 1rem auto;
    padding: 1rem auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
input{
    margin: 0.3rem auto;
}
img{
    margin: 1rem auto;
}

.angleImg{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}